.con{
   position: absolute;
   left: 50%;
   top: 50%;
}
.wrapper{
    width: 500px;
    height: 500px;
    /* border: blue solid 2px; */
    transform: translate(-50%, -50%);
    background-color: azure;
}
.qu{
    height: 20%;
}
.bu{
    position: relative;
    background-color: aquamarine;
    height: 80%;
}
.btn-yes .btn-no{
    position: relative;
}
/* .btn-yes:hover{
    position: relative;
    left: 50%;
} */